.error {
  font-weight: bold;
  color: #FF0000;
}

.login {
  font-style: italic;
}

form label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
}

td.label {
  font-weight: bold;
}

img.profile {
  vertical-align: top;
}

//ul 

ul {
   margin: 0;
   padding: 0;
   list-style-type:disc;
   width: 150px;
   //border-bottom: 1px; //solid #ccc;
}

ul {
   margin: 0;
   padding: 0;
   list-style: circle;
   width: 150px;
   //border-bottom: 1px; //solid #ccc;
}


ul li{
    position: relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    //color: #777;
    //background: #fff;
    //padding: 5px;
    //border: 1px; //solid #ccc;
    //border-bottom: 0;
}

li:hover ul.underlist{ display: block; }

table {
      //margin: 0 10px 20px 150px;
}	